*.ipynb_checkpoints
*.aux
*.bbl
*.bcf
*.blg
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.log
*.mw
*.nlo
*.nls
main.pdf
*.run.xml
*.toc
*.xdy
.DS_Store
.gitignore.swp
assets/.idea/
assets/venv/
*.fdb_latexmk
*.fls
